* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

.book-card {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: lightskyblue;
  padding: 0 1rem;
}

.book-card:nth-child(even) {
  background: antiquewhite;
}

.book-title,
.book-author {
  display: inline;
}

.book-title::after {
  content: '"';
}

.book-title::before {
  content: '"';
}

.book-author::before {
  content: 'by';
  margin: 0 .5rem;
}

.book-btn {
  position: absolute;
  right: 1rem;
  padding: 0.5rem 2rem;
}

#book-cont {
  border: black solid 0.2rem;
  width: 60%;
}

form {
  width: 240px;
}

.hr-tag {
  margin-top: 40px;
  width: 15rem;
  height: 2px;
}

.form-title {
  margin-top: 5px;
  text-align: center;
}

.form-element {
  width: 240px;
  margin:2px
}

#add-btn {
  float:right;
  margin-top: 5px;
}